@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

footer {
  position: absolute;
  bottom: 0;
}

:root {
  font-family: 'Outfit', sans-serif;
  font-size: 18px;
  /* line-height: 24px; */
  font-weight: 300, 400, 600;

  color-scheme: light dark;
  color: hsl(215, 51%, 70%);
  background-color: hsl(217, 54%, 11%);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}